In [3]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [18]:
# use the numpy function to create an array and manipulate it
x = np.array(['Jeff','Gerlica','Florida','Blue'])
x

array(['Jeff', 'Gerlica', 'Florida', 'Blue'], dtype='<U7')

In [9]:
#1 a
np.char.upper(test)

array(['JEFF', 'GERLICA', 'FLORIDA', 'BLUE'], dtype='<U7')

In [25]:
# how many 'a's are in the array I created earlier
how_many=np.core.defchararray.count(x,'a')
how_many
# np.sum(how_many)

array([0, 1, 1, 0])

In [5]:
#2 
numbers = np.arange(1,42,2)
# convert to floats
num = numbers.astype('float')
num

array([ 1.,  3.,  5.,  7.,  9., 11., 13., 15., 17., 19., 21., 23., 25.,
       27., 29., 31., 33., 35., 37., 39., 41.])

In [14]:
#manipulat the new float array in different ways
num.sum()

441.0

In [10]:
num.prod()

1.3113070457687988e+25

In [6]:
np.log(num)

array([0.        , 1.09861229, 1.60943791, 1.94591015, 2.19722458,
       2.39789527, 2.56494936, 2.7080502 , 2.83321334, 2.94443898,
       3.04452244, 3.13549422, 3.21887582, 3.29583687, 3.36729583,
       3.4339872 , 3.49650756, 3.55534806, 3.61091791, 3.66356165,
       3.71357207])